@import "tailwindcss";
@plugin "daisyui";

/* Removing Underline from anchor tags */
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}


@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideFadeIn {
  animation: slideFadeIn 0.4s ease forwards;
}

/* Animation for Add/Edit Subject Modal */
@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-modalIn {
  animation: modalIn 0.25s ease-out forwards;
}